.hello{
	color:tomato;
	text-align: center;
	font-family: monospace;
}

.img{
	height: 270px;
	width:200px;
	margin: 50px;
	padding: 20px;
	border: solid black;
	border-radius: 20px;
	background-color: tomato;
	color: white;
	font-family: monospace;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;

}

input{
margin: 20px;
padding: 10px;
border-radius: 20px;
border:solid black;
}




button{
	height: 50px;
	width: 170px;
	font-size: 24px;
	border-radius: 15px;
	background-color: green;
	color:white;

}


button:hover{
	background-color: yellow;
}


@media print{
	.img{
		display: none;
	}
}



body {
     background-color:#03e7fc;
    }

 }
